p {
    font-size: xx-large;
}

h1 {
    background-color: rgba(208, 198, 216, 0.473);
    color: rgb(219, 26, 26);
}

body {
    background-image: url("https://wallpapers.com/images/hd/marvel-and-dc-superheroes-in-cinema-d1li2g7lnzl41y7r.jpg");
    background-repeat: no-repeat;
}

#noticia {
    text-align: center;
    background-color: rgba(208, 198, 216, 0.473);
    color: rgb(219, 26, 26);
}
#home {
    text-align: left;
    background-color: rgba(208, 198, 216, 0.473);
    color: rgb(219, 26, 26);
}
 
#chat {
    text-align: center;
    background-color:  rgba(208, 198, 216, 0.473);
    color: rgb(219, 26, 26);
}

#pesquisa {
    background-color:  rgba(208, 198, 216, 0.473);
    color: rgb(219, 26, 26);
}

.flex-container {
    display: flex;
}

.linha {
    flex-direction: row;
    justify-content: space-around;
}