p {
    font-size: xx-large;
}

h1 {
    background-color: rgb(96, 18, 168);
}

.chocol {
    color: rgb(26, 16, 16);
}

#bom {
    text-align: center;
    background-color: rgb(194, 25, 25);
}
  
.imagem-guts {
    width: 400px;
    height: 600px;
    border-radius: 40px
   }
   .imagem-zodd {
    width: 400px;
    height: 600px;
    border-radius: 40px;
   }
   .imagem-era-dourada {
    width: 370px;
    height: 470px;
    border-radius: 40px;
   }

   .flex-container {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

   }

    .flex-container {
        background-color: rgb(180, 66, 46);
        height: 400px;
        width: 600px;
        line-height: 50px;

    }

    .linha {
        flex-direction: row;
    }
